1. Write a Python function that accepts a string and
calculates the number of uppercase letters and lowercase
letters.

In [ ]:
up=0
low=0

str1 = input("Enter any string : ")
for i in str1:
    if i.isupper() ==True:
      up = up+1
    else:
      low = low + 1

print("Upper Case character : ", up)
print("lower case character : ", low)

Enter any string : DeEpAk
Upper Case character :  3
lower case character :  3

2. Write a Python function to create and print a list where
the values are squares of numbers between 1 and 30 (both
included).

In [8]:
num=1
sq1=0
for num in range(1,30):
  sq = num*num
  sq1 = sq+sq1
  print(sq, end = " ")
print("\n")
print("Total of the square numbers ", sq1)

1 4 9 16 25 36 49 64 81 100 121 144 169 196 225 256 289 324 361 400 441 484 529 576 625 676 729 784 841

Total of the square numbers  8555

3.Create a function that counts the number of elements
within a list that are greater than 30.

In [20]:
num_li = [2,5,15,30,35,45,60,100,20]
def numgret30():
  for i in num_li:
    if i > 30:
      print(i)

numgret30()

35
45
60
100

4. Write a Python function that takes a list and returns a
new list with unique elements of the first list.

In [21]:
flist = [2,25,30,12,45,2,45,2,25,30,65]

def uniquet():
  sflist = set(flist)
  print(sflist)

uniquet()

{65, 2, 12, 45, 25, 30}

5. Create a function showEmployee() in such a way that it
should accept employee name, and itâ€™s salary and display
both, and if the salary is missing in function call it should
show it as 9000

In [27]:
def showEmployee(name,salary = "9000"):
  print("Employee",name,"salary is:",salary)

showEmployee("Deepak",9000)
showEmployee("Deepak")

Employee Deepak salary is: 9000
Employee Deepak salary is: 9000

6. Write a Python program to count the even, odd
numbers in a given array of integers using Lambda.

In [35]:
array = [1,2,3,4,5,6,7,8,9]
odd_num = len(list(filter(lambda x: (x%2 != 0),array)))
even_num = len(list(filter(lambda x: (x%2 == 0),array)))
print("Count of Odd numbers: ", odd_num)
print("Count of Even numbers: ", even_num)

Count of Odd numbers:  5
Count of Even numbers:  4

7. Write a Python program to add two given lists using
map and lambda

In [41]:
list1 = [1,3,5,7]
list2 = [2,4,6,8]

print(list1)
print(list2)

adding = map(lambda x,y: x + y, list1,list2)
print("----------------")
print('list after adding two list is ')
print(list(adding))

[1, 3, 5, 7]
[2, 4, 6, 8]
----------------
list after adding two list is
[3, 7, 11, 15]

8. Write a Python program to rearrange positive and
negative numbers in a given array using Lambda and filter

In [43]:
arr1 = [1,-5,6,-9,-1]
resu = sorted(arr1,key = lambda x: 0 if x==0 else -1/x)

print(resu)

[1, 6, -9, -5, -1]

9. Write a Python program to filter a list of integers using
Lambda.

In [46]:
array = [1,2,3,4,5,6,7,8,9,10]
odd_num = list(filter(lambda x: (x%2 != 0),array))
even_num = list(filter(lambda x: (x%2 == 0),array))
print("Odd numbers: ", odd_num)
print(" Even numbers: ", even_num)

Odd numbers:  [1, 3, 5, 7, 9]
 Even numbers:  [2, 4, 6, 8, 10]

10. Write a Python program to find the intersection of two
given arrays using Lambda and filter.

In [50]:
intlist1 = [1,2,3,4,6,7,8,9]
intlist2 = [1,3,5,7,9]

intsec = list(filter(lambda x: x in intlist1,intlist2))

print(intsec)

[1, 3, 7, 9]