1. City = [‘Gurgaon’, ’Mumbai’, ’Bangalore’]
i) Print the second item from the list.
ii) Change the value from "Gurgaon" to "Kerala"
iii) Remove the last element of the list.

In [ ]:
city = ['Gurgaon','Mumbai','Bangalore']

#) Print the second item from the list
print(city[1])

#ii) Change the value from "Gurgaon" to "Kerala"
for i,n in enumerate(city):
  if n=="Gurgaon":
    city[i]='Kerala'

print(city)

# iii) Remove the last element of the list.
city.pop()
print(city)

Mumbai
['Kerala', 'Mumbai', 'Bangalore']
['Kerala', 'Mumbai']

2. Use negative indexing to print the last item in the list. Make
a list by yourself.

In [ ]:
food = ['rice','wheat','grains','crushed']
print(food[-1])

crushed

3. Use a range of indexes to print the third, fourth, and fifth
item in the list. Make a list by yourself.

In [ ]:
food = ['rice','wheat','grains','crushed','vegetables','non-veg']
print(food[2:5])

['grains', 'crushed', 'vegetables']

4. Remove the last element from the city list

In [ ]:
city.pop()
print(city)

['Kerala']

5. fruits=[‘apple’,’lichi’,’guava’,’cherry’,’mango’,’watermelo
n’,’banana’]
i ) Add "orange" at the end of the above list.
ii) Add "lemon" as the second item in the fruits list

In [ ]:
fruits=['apple','lichi','guava','cherry','mango','watermelon','banana']

#i ) Add "orange" at the end of the above list.
fruits.append('orange')
print(fruits)

#ii) Add "lemon" as the second item in the fruits list
fruits.insert(1,"lemon")
print(fruits)

['apple', 'lichi', 'guava', 'cherry', 'mango', 'watermelon', 'banana', 'orange']
['apple', 'lemon', 'lichi', 'guava', 'cherry', 'mango', 'watermelon', 'banana', 'orange']

6. Remove ‘cherry’ from the fruit list given above.

In [ ]:
for i1,v1 in enumerate(fruits):
  if v1=="cherry":
    fruits.pop(i1)

print(fruits)

['apple', 'lemon', 'lichi', 'guava', 'mango', 'watermelon', 'banana', 'orange']

7. Write the python program to let the user input a list of
numbers and print the list in descending order.

In [ ]:
list = []

while True:
  a=input("input number : ")
  if a.isdigit() == False:
    break;
  list.append(a)

list.sort(reverse=True)
print(list)

input number : 95
input number : 99
input number : 20
input number : 45
input number : a
['99', '95', '45', '20']

8. Write the python program to let the user input two lists and
combine both the lists.

In [ ]:
firstlist = []
secondlist = []

n=int(input("Enter Element in first List : "))
for i in range (0,n):
  ele = int(input())
  firstlist.append(ele)

n1=int(input("Enter Element in second List : "))
for i in range (0,n1):
  ele = int(input())
  secondlist.append(ele)

firstlist.extend(secondlist)
print("Both list combined to give output as : ", firstlist)

Enter Element in first List : 2
12
24
Enter Element in second List : 3
36
48
60
Both list combined to give output as :  [12, 24, 36, 48, 60]

9. List = [10, 45, 78, 11, 9, 23]. Shuffle this list.

In [ ]:
list = [10, 45, 78, 11, 9, 23]
import random
random.shuffle(list)
print("Shuffled list : ",list)
random.shuffle(list)
print("re-Shuffled list : ",list)

Shuffled list :  [9, 78, 45, 11, 23, 10]
re-Shuffled list :  [10, 45, 78, 11, 9, 23]

10. x = [10, [3.141, 20, [30, 'baz', 2.718]], 'foo']

i) What is the expression that returns the 'z' in 'baz'? 

ii) What expression returns the list ['baz', 2.718]?

In [ ]:
x = [10, [3.141, 20, [30, 'baz', 2.718]], 'foo']

#1.
print(x[1][2][1][2])

#2.
print(x[1][2][-2:])

z
['baz', 2.718]

11. Extract element 20 from the above list.

In [ ]:
x = [10, [3.141, 20, [30, 'baz', 2.718]], 'foo']
print(x[1][1])

20

12. You have a list a = [1, 2, 7, 8]
Write a Python statement using slice assignment that will fill in
the missing values so that a equals [1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
a=[1,2,7,8]
b=[3,4,5,6]
a.extend(b)
a.sort()
print(a)

[1, 2, 3, 4, 5, 6, 7, 8]