1. Write a Python program to add an item in a tuple.

In [8]:
sample=(2,25,3)

lsample = list(sample)
lsample.append(100)

tsample = tuple(lsample)
print(tsample)

(2, 25, 3, 100)

2. Write a Python program to reverse a tuple.

In [21]:
samtuple = (1,2,3,4,5,6,7)
tup = samtuple[: :-1]
print(tup)

(7, 6, 5, 4, 3, 2, 1)

3. Swap the following two tuples
tuple1 = (11, 22)
tuple2 = (99, 88)

In [22]:
tuple1 = (11,22)
tuple2 = (99,88)
tuple1,tuple2 = tuple2,tuple1
print(tuple1)
print(tuple2)

(99, 88)
(11, 22)

4. Modify the first item (22) of a list inside a following tuple to
222
tuple1 = (11, [22, 33], 44, 55)

In [23]:
tuple1 = (11, [22, 33], 44, 55)
tuple1[1][0]=222

print(tuple1)

(11, [222, 33], 44, 55)

5. Write a Python program to unpack a tuple in several
variables

In [29]:
vartub1 = ("Gems",35,"Lucknow")

(jewellery,age,location) = vartub1

print(jewellery)
print(age)
print(location)

Gems
35
Lucknow

6. Write a Python program to add member(s) in an empty
set.

In [35]:
emp = set()
emp.add("Dubai")
print(emp)

#addition of more items
emp.update(["Hongkong","Mumbai"])
print(emp)

{'Dubai'}
{'Dubai', 'Hongkong', 'Mumbai'}

7. Write a Python program to create an intersection of sets

In [42]:
list1 = [1,2,3,4,4,5,5,6]
list2 = [3,4,5,5]

print(list(set(list1).intersection(set(list2))))

[3, 4, 5]

8. Write a Python program to create a symmetric difference
in sets.

In [43]:
lname1 = set(['Rohan','Raman'])
lname2 = set(['Raman','Soham'])

symname = lname1^lname2
print(symname)

{'Soham', 'Rohan'}

9. Return a set of identical items from a given two Python
set

set1 = [10, 20, 30, 40, 50]

set2 = [30, 40, 50, 60, 70]

In [45]:
set1 = [10, 20, 30, 40, 50]
set2 = [30, 40, 50, 60, 70]

print(list(set(set1).intersection(set(set2))))

[40, 50, 30]

10. Remove 10, 20, 30 elements from a following set at
once
set1 = {10, 20, 30, 40, 50}

In [48]:
set1 = {10, 20, 30, 40, 50}
set1.difference_update({10,20,30})
print(set1)

{40, 50}

11. Access value 20 from the following tuple
example = ("Pooja", [10, 20, 30], (25, 50, 15))

In [50]:
tupex = ("Pooja", [10, 20, 30], (25, 50, 15))
tupex[1][1]

20

12. Count the number of occurrences of item 50 from a tuple
numbers = (50, 10, 60, 70, 50)

In [52]:
tupnum = (50, 10, 60, 70, 50)
a=tupnum.count(50)
print(a)

2