1. Print First 10 natural numbers using while loop

In [ ]:
a=1
while a<=10:
  print(a)
  a=a+1

1
2
3
4
5
6
7
8
9
10

2. Display -10 to -1 using for loop

In [ ]:
a=-10
while a<=-1:
  print(a)
  a=a+1

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

3. Write a python program to print the factorial of a given
number

In [ ]:
n=int(input("Insert amount for factorial : "))
f=1
for i in range(1,n+1):
  f=f*i

print("Factorial of",n,"is ",f)

Insert amount for factorial : 5
Factorial of 5 is  120

4. Write a python program to print all prime numbers
between 0 to 100 , and print how many prime numbers
are there.

In [ ]:
lower = 1
upper = 100
cnt=0

for num in range(lower,upper):
  if num>1:
      for i in range(2,num):
        if (num%i)==0:
          break
      else:
        print(num)
        cnt=cnt+1

print(f'There are {a} prime numbers from 0 to 100')

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
There are 25 prime numbers from 0 to 100

5. Print the following pattern :
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
for i in range(1,6):
  for a in range(1,i+1):
    print(a,end="")
  print()

1
12
123
1234
12345

6 Accept n number from user and calculate the sum of all
number between 1 and n including n

In [4]:
in_var = 0
in_var1 = 0

print("Provide numbers to add")
while in_var != -1:
  in_var = float(input("Type '-1'15 to Calculate the Total of Input provided : "))
  in_var1 = float(in_var1) + float(in_var) 

print(in_var1 + 1)

Provide numbers to add
Type '-1' to Calculate the Total of Input provided : 4
Type '-1' to Calculate the Total of Input provided : 2.75
Type '-1' to Calculate the Total of Input provided : 4
Type '-1' to Calculate the Total of Input provided : 0.15
Type '-1' to Calculate the Total of Input provided : 0.10
Type '-1' to Calculate the Total of Input provided : -1
11.0

7. Given a number count the total number of digits in a
number.

In [5]:
num1 = input("The numbers to Count the Number of Digits ")

if num1.isdigit() == True:
  print(f"Total number of digits in {num1} are {len(num1)}")
else:
  print("Input is not pure number")

The numbers to Count the Number of Digits 123456789
Total number of digits in 123456789 are 9

8. Write a Python program to create the multiplication table
(from 1 to 10) of a number.

In [ ]:
num4 = int(input("Generate Table of : "))
i=1
while i <=10:
    print(f"{num4} x {i} = {num4 * i}")
    i=i+1

Generate Table of : 1
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

9 Reverse the following list using for loop
list1 = [10, 20, 30, 40, 50]

In [ ]:
list1 = [10,20,30,40,50]
print(list1[::-1])

[50, 40, 30, 20, 10]

10. Write a Python program to construct the following
pattern, using a nested for loop.
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
n="*"

for i in range(1,6):
  for a in range(1,i+1):
    print(n,end=" ")
  print() 
  
for i1 in range(5,1,-1):
  for a1 in range(1,i1):
    print(n,end=" ")
  print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

11. Write a Python program that accepts a string and
calculate the number of digits and letters.

In [ ]:
string5 = input("Insert Mixed Input (numeric + characters) ")
a=len(string5)
w=0
n=0

for c in string5:
  if c.isdigit():
    n=n+1
  elif c.isalpha():
    w=w+1

print("Total Numeric Charanter: ",n)
print("Total Alphabetical Character: ",w)

Insert Mixed Input (numeric + characters) Deepak 123 Singh 456
Total Numeric Charanter:  6
Total Alphabetical Character:  11

12. From a list containing ints, strings and floats, make
three lists to store them separately.

In [24]:
oglist = [2,3.5,"how r u",5,12.5]
int1=[]
flt1=[]
str1=[]

for i in oglist:
  if type(i)==int:
    int1.append(i)
  elif type(i)==float:
    flt1.append(i)
  elif type(i)==str:
    str1.append(i)

print("This is Integer list :",int1)
print('This is Floating number list :',flt1)
print('This is String :',str1)

This is Integer list : [2, 5]
This is Floating number list : [3.5, 12.5]
This is String : ['how r u']